# Arquivos swap do vim
*.swp
*.swo

# Bytecode do java
*.class

# Arquivos precompilados do python
*.pyc

# Arquivos do projeto de IHC que vem de outros lugares na internet
ihc/css/bootstrap*
ihc/fonts
ihc/js

