body{
    background-color: #EEE;
}

.navbar .btn{
    margin-left: 10px;
    margin-right: 10px;
}

.user-logo{
    margin-top: -9px;
    width: 32px;
    height: 32px;
}

table.table-margin{
    margin-top: 20%;
}

img.img-circle{
    border-radius: 10px;
}
