.centraliza{
    margin-top: 10%;
    margin-left: 35%;
    margin-right: 0%;
    width: auto;
}

.centraliza2{
  margin-top: -1.8%;
  margin-left: 55%;
  margin-right: auto;
}

.centralizaTitulo{
    margin-top: 5%;
    margin-left: 38%;
    margin-right: auto;
    font-size: 55px;
}

.btn-xlarge{
  padding: 0% 16.5%;
  font-size: 28px;
  line-height: normal;
  margin-left: 35%;
}

.btn-xlargeOK{
  font-size: 20px;
  line-height: normal;
  margin-top: 15%;
  margin-left: 70%;
  background-color: #99FF99;
}

.btn-xlargeCancel{
  font-size: 20px;
  line-height: normal;
  margin-top: 15%;
  margin-left: 10%;
  background-color: #FF6666;
}
