.centraliza{
    margin-top: 10%;
    margin-left: 35%;
}

.centralizaTitulo{
    margin-top: 5%;
    margin-left: 38%;
    margin-right: auto;
    font-size: 55px;
}

.btn-xlarge{
  padding: 0% 13.5%;
  font-size: 28px;
  line-height: normal;
  margin-top: 5%;
  margin-left: 35%;
}

.span2{
  width: 300%
}

.btn-xlargeOK{
  font-size: 20px;
  line-height: normal;
  margin-top: 10%;
  margin-left: 70%;
  background-color: #99FF99;
}

.btn-xlargeCancel{
  font-size: 20px;
  line-height: normal;
  margin-top: 10%;
  margin-left: 10%;
  background-color: #FF6666;
}
